
.land {
    animation-duration: 1.5s;
    animation-delay: -400ms;
    animation-name: slidein;
}
.land2 {
    animation-duration: 1.5s;
    animation-delay: -300ms;
    animation-name: slidein;
}
.land3 {
    animation-duration: 1.5s;
    animation-delay: -200ms;
    animation-name: slidein;
}
.land4 {
    animation-duration: 1.5s;
    animation-delay: -100ms;
    animation-name: slidein;
}
.land5 {
    animation-duration: 1.5s;
    animation-delay: -10ms;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
  
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}