

@keyframes slidein {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
  
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}