


.main-bg {
    background-color: rgb(11,25,46)
}

.main2-bg {
    background-color: #112340;
}
.profile-img {
    animation-duration: 1.5s;
    animation-name: slidein;
}

.profile-img:hover {
    transform: translateY(-10px);
}

.cover-img {
    /* background-image: url('../images/python.jpeg'); */
    background-size: contain;
}

